body {
    font-family: "Segoe UI", sans-serif;
    background:#f1f5f9;
    margin: 0;
}

.container {
    padding: 40px;
    max-width: 900px;
    margin: auto;
}

.card {
    background: white;
    border-radius: 16px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.06);
}

h2 {
    margin-bottom: 15px;
}

.setting-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

label {
    font-size: 14px;
}

select, input[type="time"] {
    padding: 6px 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.toggle {
    width: 40px;
    height: 20px;
    background: #ccc;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}

.toggle::after {
    content: "";
    width: 16px;
    height: 16px;
    background: white;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: 0.3s;
}

.toggle.active {
    background: #880318;
}

.toggle.active::after {
    left: 22px;
}